.about {
    @media screen and (max-width: 1199.98px){
      display: none;
    }
}

.about_positon {
    padding-top: 0;
    padding-bottom: 94px;
  
    background-color: $main-bgc-color;
  }
  
  .about__title {
    margin-bottom: 50px;
  
    color: $main-title-color;
    text-align: center;
    @include font(700, 36px, 1.16);
  }
  
  .about__list {
    display: flex;
    flex-basis: calc(100% / 3);
  }
  
  .about__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .about__item {
    position: relative;
  }
  
  .about__thumb {
    @include flex;
  
    position: absolute;
    content: '';
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
  }
  
  .about__img-title {
    text-align: center;
    text-transform: uppercase;
    color: $second-title-color;
    @include font(700, 14px, 1.14);
  }
  

