.menu {
    background-color: inherit;
}

.menu_position {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 48px 40px;

    transform: translateX(100%);
    @include transition(transform);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_position.is-open {
    transform: translateX(0);
}

.menu__close {
    border: none;
    background-color: inherit;
    position: absolute;
    right: 15px;
    top: 10px;
    @include transition(color);

    &:hover,
    &:focus {
    color: $accent-color;
    }
}

.menu__icon {
    fill: currentColor;
}

.menu__item {
    &:not(:last-child){
    margin-bottom: 32px;
    }
}

.menu__link {
    color: $main-title-color;
    @include font(500, 40px, 1.17, 0.02em)

    @include transition(color);

    &:hover,
    &:focus {
    color: $accent-color;
    }
}

.contact__list {
    margin-bottom: 64px;
}

.contact__item {
    &:not(:last-child){
        margin-bottom: 32px;
        }
}

.contact_tel-color {
    color: $accent-color;
    @include font(500, 32px, 1.18, 0.02em)
}

.contact__link {
    color: $main-text-color;
    @include font(500, 24px, 1.17, 0.02em)

    @include transition(color);

    &:hover,
    &:focus {
    color: $accent-color;
    }
}

.menu__social-list {
    display: flex;
}

.social__social-item {
    padding-right: 10px;
    &:not(:first-child) {
        
        padding-left: 10px;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.social__social-link {
    display: block;
    color: $accent-color;
    @include font(500, 18px, 1.22, 0.02em)
}