$main-text-color: #757575;
$main-title-color: #212121;
$second-title-color: #ffffff;
$accent-color: #2196f3;
$main-btn-color: #212121;
$second-btn-color: #ffffff;
$third-btn-color: #afb1b8;
$main-btn-bgc-color: #f5f4fa;
$second-btn-bgc-color: #2196f3;
$main-bgc-color: #ffffff;
$second-bgc-color: #e5e5e5;
$third-bgc-color: #f5f4fa;
$unic-bgc-color: #2f303a;
